In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# !pip show pandas

In [3]:
# Specify the directory path you want to check
directory_path = "E:/ITC Twente/Quarter 05 September 2023/00 GeoData Visualization/4_BikeShareData/00_Data"

# List all files in the specified directory
file_names = os.listdir(directory_path)

names = []
# Print the file names
for i in file_names:
    x = os.path.join(directory_path,i)
    names.append(x)

In [4]:
DataFrames = []
for i in names:
    DF = pd.read_csv(i)
    DataFrames.append(DF)

In [5]:
columns = []
rows = []
for i in DataFrames:
    x = len(i.columns)
    ss = i.shape
    y = ss[0]
    columns.append(x)
    rows.append(y)

In [6]:
# Create a DataFrame from the lists
data = {'Name': file_names, 'columns': columns, 'rows': rows}
df = pd.DataFrame(data)
df.head(5)

                                   Name  columns    rows
0  202107-capitalbikeshare-tripdata.csv       13  312426
1  202108-capitalbikeshare-tripdata.csv       13  271994
2  202109-capitalbikeshare-tripdata.csv       13  309197
3  202110-capitalbikeshare-tripdata.csv       13  328300
4  202111-capitalbikeshare-tripdata.csv       13  242057

In [7]:
sum(data["rows"])

7551988

### 1.1 Concatenating Dataframes

In [8]:
# Concatenate them vertically

## Create an empty DataFrame with columns
Stacked_DF = pd.DataFrame(columns=DataFrames[0].columns)

for i in range(len(DataFrames)):
    Stacked_DF = pd.concat([Stacked_DF, DataFrames[i]], axis=0)

In [9]:
Stacked_DF.shape

(7551988, 13)

In [10]:
Stacked_DF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7551988 entries, 0 to 466421
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      float64
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(6), object(7)
memory usage: 806.6+ MB

### 1.2 Converting DataTime

In [11]:
Stacked_DF.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [12]:
# Convert the column to datetime
Stacked_DF['started_at'] = pd.to_datetime(Stacked_DF['started_at'], format='%Y-%m-%d %H:%M:%S')
Stacked_DF['ended_at'] = pd.to_datetime(Stacked_DF['ended_at'], format='%Y-%m-%d %H:%M:%S')

In [13]:
Stacked_DF['Hour_(Starting)'] = Stacked_DF['started_at'].dt.hour
Stacked_DF['Year'] = Stacked_DF['started_at'].dt.year

In [14]:
Stacked_DF['Hour_(Starting)'].unique()

array([21, 16, 15, 11, 12, 19, 10,  8, 13, 18, 23, 14, 20, 17,  6,  2,  0,
        7,  1,  9, 22,  5,  3,  4])

In [15]:
Stacked_DF['Year'].unique()

array([2021, 2022, 2023])

#### Droping nan Values

In [16]:
# Drop rows with NaN values only in specific columns
Stacked_DF = Stacked_DF.dropna(subset=['start_station_id', 'end_station_id'])

In [17]:
# Drop rows with NaN values only in specific columns
Stacked_DF = Stacked_DF.dropna(subset=['end_station_name'])

In [18]:
Stacked_DF.shape

(6927165, 15)

#### Droping null Values

In [19]:
# # Drop rows with NaN values only in specific columns
# Stacked_DF = Stacked_DF.dropna(subset=['start_station_id', 'end_station_id'])

#### Changing Data Type

In [20]:
# Convert the 'Column1' data type from float to string
Stacked_DF['start_station_id'] = (Stacked_DF['start_station_id'].astype(int)).astype(str)
Stacked_DF['end_station_id'] = (Stacked_DF['end_station_id'].astype(int)).astype(str)

#### Adding New Column for Merging

In [23]:
Stacked_DF['StationID_YearHour'] = Stacked_DF['start_station_id'] + "_" + Stacked_DF['Year'].astype(str) + "_" + Stacked_DF['Hour_(Starting)'].astype(str)

In [24]:
Stacked_DF['End_StationID_YearHour'] = Stacked_DF['end_station_id'] + "_" + Stacked_DF['Year'].astype(str) + "_" + Stacked_DF['Hour_(Starting)'].astype(str)

In [25]:
Stacked_DF.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Hour_(Starting),Year,StationID_YearHour,End_StationID_YearHour
0,FF02EE3AE115F951,classic_bike,2021-07-04 21:57:56,2021-07-04 22:00:43,8th & K St NE,31660,6th & K St NE,31645,38.902732,-76.99515,38.902932,-76.998405,member,21,2021,31660_2021_21,31645_2021_21
1,EAD3303AA5518C14,classic_bike,2021-07-24 16:26:54,2021-07-24 16:44:57,8th & K St NE,31660,10th & U St NW,31111,38.902732,-76.99515,38.917200,-77.025900,member,16,2021,31660_2021_16,31111_2021_16
2,4CAAF169950650A7,classic_bike,2021-07-17 21:00:02,2021-07-17 21:21:27,8th & K St NE,31660,10th & U St NW,31111,38.902732,-76.99515,38.917200,-77.025900,member,21,2021,31660_2021_21,31111_2021_21

In [51]:
# filt1 = (Stacked_DF['started_at'].dt.month >= 3) & (Stacked_DF['started_at'].dt.month <= 5)
# filt = (Stacked_DF['started_at'].dt.month >= 6) & (Stacked_DF['started_at'].dt.month <= 8)
# filt = (Stacked_DF['started_at'].dt.month >= 9) & (Stacked_DF['started_at'].dt.month <= 11)
filt = (Stacked_DF['started_at'].dt.month <= 2)
Stacked_DF.loc[filt,'started_at'].count()

627703

In [53]:
filt =  (Stacked_DF['started_at'].dt.month == 12)
Stacked_DF.loc[filt,'started_at'].count()

335680

In [55]:
filt = (Stacked_DF['started_at'].dt.month >= 9) & (Stacked_DF['started_at'].dt.month <= 11)
Stacked_DF.loc[filt,'started_at'].count()

1733432

In [56]:
filt = (Stacked_DF['started_at'].dt.month > 5) & (Stacked_DF['started_at'].dt.month <= 8)
Stacked_DF.loc[filt,'started_at']

0        2021-07-04 21:57:56
1        2021-07-24 16:26:54
2        2021-07-17 21:00:02
3        2021-07-14 15:51:33
4        2021-07-10 11:26:20
                 ...
466417   2023-07-10 08:59:28
466418   2023-07-23 00:14:48
466419   2023-07-11 13:03:19
466420   2023-07-09 18:48:52
466421   2023-07-06 07:36:53
Name: started_at, Length: 2401452, dtype: datetime64[ns]

In [67]:
filt = (Stacked_DF['started_at'].dt.month >= 3) &  (Stacked_DF['started_at'].dt.month == 5)
Stacked_DF.loc[filt,'started_at'].count()

691013

In [68]:
627703 + 335680 + 1733432 + 2401452 + 691013

5789280

In [69]:
Stacked_DF.shape[0] - 5789280

1137885

In [35]:
Stacked_DF.to_csv('E:/ITC Twente/Quarter 05 September 2023/00 GeoData Visualization/4_BikeShareData/00_Stacked_Dataframe.csv', index=False)